<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title> Imovel </title>
</head>
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastramento</title>
    </head>
    <meta>
    <body style="background:burlywood ;" >
        <form method="get" action= "meu_callback">
            <meta>    
        <h1 style="color: black; text-align: center; margin-top: 100px;">Imóveis</h1>
        <div>
            <h2 style="color: black;">Apartamentos em Maceió </h2>
            <img src="img/a1.jpg" alt="foto" style="height: 350px; width: 300px; ">
            <h3 style="color: black;"> Apartamento Ponta Verde </h3>
            <h3 style="color: black;"> R$ 150.000,00 </h3>
            <img src="img/a2.jpg" alt="foto" style="height: 350px; width: 350px; ">
            <h3 style="color: black;"> Apartamento São José dos Milagres </h3>
            <h3 style="color: black;"> R$ 115.000,00 </h3>
            <img src="img/s1.jpg" alt="foto" style="height: 350px; width: 300px; ">
            <h3 style="color: black;"> Apartamento Pajuçara </h3>
            <h3 style="color: black;"> R$ 100.000,00 </h3>
            <img src="img/s2.jpg" alt="foto" style="height: 350px; width: 300px; ">
            <h3 style="color: black;"> Apartamento Jatiuca </h3>
            <h3 style="color: black;"> R$ 120.000,00 </h3>
            <img src="img/s3.jpg" id="1" alt="foto" style="height: 350px; width: 300px; ">
            <img src="img/s5.jpg"  id="2" alt="foto" style="height: 350px; width: 350px; display: none;">
            <h3 style="color: black;"> Apartamento Cruz das Almas </h3>
            <h3 style="color: black;"> R$ 130.000,00 </h3>
        
        </div>
        <div>
            <h2 style="color: black;">Apartamentos em Recife </h2>
            <img src="img/r1.jpg"  id="1"alt="foto" style="height: 350px; width: 300px; ">
            <img src="img/r6.jpg"  id="2" alt="foto" style="height: 350px; width: 350px; display: none;">
            <h3 style="color: black;"> Boa Viagem </h3>
            <h3 style="color: black;"> R$ 195.000,00 </h3>
            <img src="img/r2.jpg" alt="foto" style="height: 350px; width: 350px; ">
            <h3 style="color: black;"> Piedade </h3>
            <h3 style="color: black;"> R$ 156.000,00 </h3>
            <img src="img/r3.jpg" alt="foto" style="height: 350px; width: 300px; ">
            <h3 style="color: black;"> Cidade Universitária </h3>
            <h3 style="color: black;"> R$ 120.000,00 </h3>
        
        </div>
        <button action="cadastro.html" type="button" class="btn btn-light" style="margin-top:10px;"><a href="cadastro.html" style="color:black;">Cadastrar Imovel</a> </button>
    <br><br>
   <div>
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Localidade</th>
              <th scope="col">Apartamento em Maceio</th>
              <th scope="col">Apartamento em Recife </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col"> Valores </th>
              <td>  R$ 150.000,00 </td>
              <td>  R$ 195.000,00 </td>
            </tr>
            <tr>
              <th scope="col"> Valores </th>
              <td>  R$ 115.000,00 </td>
              <td>  R$ 156.000,00 </td>
            </tr>
            <tr>
              <th scope="col">Valores</th>
              <td>  R$ 130.000,00 </td>
              <td>  R$ 120.000,00 </td>
            </tr>
          </tbody>
        </div>
        <div>
      </body>
    </html>